* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li {
  cursor: pointer;
  color: #555;
  transition: color 0.3s;
}

nav ul li:hover {
  color: #000;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.main-news {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-img img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
  margin-bottom: 15px;
}

.content button {
  padding: 10px 20px;
  background-color: hsl(5, 85%, 63%);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar {
  background-color: hsl(240, 100%, 5%);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.sidebar h2 {
  color: hsl(35, 77%, 62%);
  margin-bottom: 20px;
  font-size: 24px;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li p {
  font-size: 14px;
  color: #ccc;
}

.bottom-cards {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
}

.card {
  display: flex;
  gap: 15px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 100%;
  align-items: center;
}

.card img {
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  font-size: 24px;
  color: #ccc;
}

.card h4 {
  font-size: 16px;
  margin: 5px 0;
}

.card p {
  font-size: 13px;
  color: #777;
}

.card-number {
  color: hsl(5, 85%, 63%);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card h3 {
  color: hsl(5, 85%, 63%);
  font-size: 28px;
  font-weight: bold;
}



.card h4 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
  color: hsl(240, 100%, 5%);
}

.card p {
  font-size: 13px;
  color: hsl(236, 13%, 42%);
}

